@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
	Layout = "mainLayout.cshtml";
	ViewBag.Title = Model?.Value("pageTitle") ?? null;
	var backgroundImage = Model?.Value<IPublishedContent>("heroBackgroundImage")?.Url() ?? "";
	var signatureImage = Model?.Value<IPublishedContent>("aboutSignatureImage")?.Url() ?? "";
}


<section class="header">
	<div class="container">
		<div ="address-socialmedia">
			<div class="address">
				<p class="address-ingress">@Model?.Value("headerAddress")</p>
			</div>
			<div class="socialmedia">
				<a class="meta"><i class="fa-brands fa-facebook-f"></i></a>
				<a class="x"><i class="fa-brands fa-x-twitter"></i></a>
				<a class="linkedIn"><i class="fa-brands fa-linkedin-in"></i></a>
			</div>
		</div>
		<div class="navigation-bar">
			<img class="onatrix-logo" alt="" src="" />
			<div class="site-navigation"> 
				<a>@Model.Value("headerAboutSite")</a>
				<a>@Model.Value("headerServicesSite")</a>
				<a>@Model.Value("headerProjectsSite")</a>
				<a>@Model.Value("headerContactSite")</a>
			</div>
		</div>
	</div>

</section>

<div>




<section id="hero-slider" class="hero">
	<!--<div class="background" style="background-image:url(@backgroundImage); background-size: cover; background-position: 60%"></div>-->
	<img class="background" src="@backgroundImage" alt="@Model?.Value("heroBackgroundImage")" />
	<div class="container">
		<div class="hero-content">
			<h1 class="headline">@Model?.Value("heroHeadline")</h1>
			<p class="ingress">@Model?.Value("heroText")</p>
			<div>
				<a href="@Model?.Value("heroButtonUrl")" class="btn btn-primary">@Model?.Value("heroButtonText")</a>
			</div>
		</div>
	</div>
</section>


<section id="about-us" class="about-us">
	<div class="container">
		<div class="content">
			<div class="headline">
				<h5>@Model?.Value("aboutSectionTitle")</h5>
				<h2>@Model?.Value("aboutHeadline")</h2>
			</div>
			<blockquote class="quote">@Model?.Value("aboutQuote")</blockquote>
			<p>@Model?.Value("aboutText")</p>
			<div class="signature-container">
				<div class="signature">
					<img class="signature-image" src="@signatureImage" alt="@Model?.Value("aboutSignature")" />
					<div class="clarification">
						<p class="name">@Model?.Value("aboutSignature")</p>
					</div>
				</div>
			</div>

			<div class="form-container">

			</div>
		</div>
	</div>
</section>